#servise_section{
    position:relative;
    margin:0 auto;
    margin-top:-75px;
    margin-bottom:40px;
    width:600px;
    padding:5px;
    background:yellow;
}
 
.head_sekt1{
    position:position;
    margin:0 auto;
}
.head_sekt1 div{
    float:left;
    margin:0px 20px auto;   
    background:#252325;
}
.head_sekt1 img{
    margin-top:7px;
    padding: 0 20px;
}